<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Activar el motor de reescritura
RewriteEngine On

# Redirigir todas las solicitudes a index.html, excepto las solicitudes de archivos o directorios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
